* {
  box-sizing: border-box;
}
.container {
  width: 100%;
}
.errors {
  padding-left: 5vh;
}
form {
  padding: 5vh;
  margin: 2vh;
  border: 1px solid #f5f5f5;
  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 2px 2px 2px rgb(182, 182, 182);
}
.resumo {
  //float: left;
  width: 47%;
  margin-right: 11vh;
  padding-left: 6vh;
  resize: none;
}
.btnSalvar {
  width: 15vh;
  margin-left: 6vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.tituloFormulario {
  margin-left: 6vh;
  //margin-top: 3vh;
}
.fieldImagem, .resumo {
  display: inline-block;
}
.fieldImagem {
  position: absolute;
}
.titulo,
.autor,
.editora,
.isbn,
.genero,
.situacao {
  width: 50%;
  padding-left: 3%;
  padding-right: 3%;
}
.txt-area {
  background-color: #f5f5f5;
  resize: none;
  width: 100%;
  border: none;
  outline: none;
  overflow: auto;
  font-family: sans-serif;
  text-align: justify;
}
