<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="content">
      <form>
        <mat-form-field appearance="outline">
          <mat-label>Título</mat-label>
          <input matInput placeholder="Placeholder">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Autor</mat-label>
          <input matInput placeholder="Placeholder">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Gênero</mat-label>
          <mat-select>
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option3">Option 3</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Avaliação</mat-label>
          <mat-select>
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option3">Option 3</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Editora</mat-label>
          <input matInput placeholder="Placeholder">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>ISBN</mat-label>
          <input matInput placeholder="Placeholder">
        </mat-form-field>
        <mat-form-field class="resumo" appearance="fill">
          <mat-label>Leave a comment</mat-label>
          <textarea style="resize: none;"  matInput placeholder="Ex. It makes me feel..."></textarea>
        </mat-form-field>
      </form>      
    </div>
  </div>
</body>
</html>