<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookStore</title>
</head>

<body>
    <div class="container">
        <div class="content" name="oioi">
            <h1>Entre com sua conta</h1>
            <form id="formulario-livro" [formGroup]="formLogin" (ngSubmit)="submitForm()">
                <div>
                    <mat-form-field class="email" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input formControlName="email" name="email" matInput>
                        <mat-error *ngIf="formLogin.controls['email'].invalid">{{getMessageError("e")}}</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="password" appearance="outline">
                        <mat-label>Senha</mat-label>
                        <input formControlName="password" type="password" name="password" matInput>
                        <mat-error *ngIf="formLogin.controls['password'].invalid">{{getMessageError("p")}}</mat-error>
                    </mat-form-field>
                </div>
                <button class="btnEntrar" mat-raised-button color="primary" type="submit">Entrar</button><br>
                <button mat-button type="button" class="login-with-google-btn" (click)="logarComGoogleCount()">
                    Entrar com o Google
                </button>
                <button class="btnCriarConta" mat-button color="primary" routerLink="/cadastrarUsuario">Criar Conta</button>
            </form>
        </div>
    </div>
</body>

</html>